body.eliminatorSlajdow div.eliminatorSlajdowSpinner {
    text-align: center
}

body.eliminatorSlajdow div.eliminatorSlajdowSpinner img {
    padding: 100px
}

body.eliminatorSlajdow div.imageContainer.scroll {
    display: inline-block;
    max-height: 1500px;
    margin: 0 -25px 0 0;
    overflow-y: scroll;
    padding: 0 8px 0 0
}

body.eliminatorSlajdow div.imageContainer.noScroll {
    float: left
}

body.eliminatorSlajdow div.imageContainer p.slideTitle {
    padding: 20px;
    font-size: 20px
}

body.eliminatorSlajdow div.imageContainer div.slideHeader {
    float: left;
    width: 100%;
    line-height: 16px;
    margin-bottom: 10px
}

body.eliminatorSlajdow div.imageContainer span.directLink a:hover {
    background: none
}

body.eliminatorSlajdow div.imageContainer div.slideHeader p.headerLogo {
    margin-top: 1px;
    float: right;
    font-size: 8px;
    cursor: pointer;
    background: url("icon_facebook.gif") no-repeat 0 1px;
    padding-left: 12px;
    line-height: 14px
}

body.eliminatorSlajdow div.imageContainer div.slideHeader p.headerBar {
    font-size: 11px;
    background: #999;
    padding: 1px 10px 3px 10px;
    border-radius: 42px;
    height: 14px;
    color: white
}

body.eliminatorSlajdow div.imageContainer div.slideHeader span.esLogo {
    width: 16px;
    height: 16px;
    float: right
}

body.eliminatorSlajdow div.imageContainer div.slideHeader span.scrollSwitch {
    cursor: pointer;
    float: right;
    margin-right: 10px;
    color: #fff
}

body.eliminatorSlajdow div.imageContainer div.slideHeader span.headerSeparator {
    color: white;
    float: right;
    margin-right: 5px
}

body.eliminatorSlajdow div.imageContainer div.slideHeader span.bugreport {
    color: white;
    cursor: pointer;
    float: right;
    margin-right: 5px
}

body.eliminatorSlajdow div.imageContainer div.slideHeader span.directLink {
    cursor: pointer;
    float: right;
    margin-right: 5px;
    color: white;
    height: 16px
}

body.eliminatorSlajdow div.imageContainer div.slideHeader span.directLink a {
    color: white;
    text-decoration: none;
    height: 14px;
    font: 11px Arial;
    line-height: 12px
}
